<ion-view view-title="About Us">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content class="about">

    <h4>
      When was the last time you sat and enjoyed your meal?
    </h4>

    <p>
      Turned off the distractions, and intently appreciated the nutrients revitalizing your body.
      Didn't just grab a bite, but shared a meal with friends, in person. Are we even able to sit
      at the same table?
    </p>

    <p>
      When a night out has become synonymous with the clinks of our drinks and the overpowering
      noise of popularly overplayed music drowning out the meager conversations beneath.
    </p>

    <p>
      We've effectively hidden ourselves in the jungle of what now feels unfortunately normal.
      But sometimes we need to disconnect in order to give ourselves the opportunity to reconnect
      with each other. Whether you're a professional cook, lonely traveler in a foreign land,
      or just hungry and looking for a good place to eat, we can all benefit from the simple
      joy of sitting together and experiencing some good company over a home-cooked meal. 
    </p>

    <p>
      There's no need to wait for a special occasion to get together with friends new and
      old when every meal is worth celebrating and sharing.
    </p>

    <p>
      For the past two years, thousands of people all around the world have been exploring the
      possibilities brought into their kitchens by the growing community of people sharing
      their passion of all things culinary, expert or otherwise, on LoveEat.
     </p>

    <p>
      But we want to go further! We want to bring people back to people, so that everyone
      is welcome somewhere and we all have the opportunity to share the food, company,
      and good stories of our global neighbors, wherever we are in the world.
    </p>

    <p>
      Life is what happens when we move beyond the realm of what we already know, and with
      our willingness to taste the unfamiliar paired with a few simple ingredients, together
      we can make ourselves a feast.
    </p>

  </ion-content>
</ion-view>
