<ion-view view-title="Facilities">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="meal-type">
      <ul class="event__icons-list event__icons-list_expanded">
        <li class="event__icons-item" ng-repeat="(facility_key, facility_value) in event.facilities">
          <span class="event__icons-img-wrapper">
            <img class="event__icons-img" ng-src="img/facilities/{{facility_key}}.svg">
          </span>
          <span class="event__icons-caption">{{facility_value}}</span>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
