<ion-view view-title="Facilities">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="facilities">
      <table class="event__icons-table" ng-init="chunks = event.facilities.chunkify(5)">
        <tr class="event__icons-table-row" ng-repeat="chunk in chunks">
          <td class="event__icons-table-cell" ng-repeat="item in chunk">
            <span class="event__icons-item">
              <span class="event__icons-img-wrapper">
                <img class="event__icons-img" ng-src="img/facilities/{{item.key}}.svg">
              </span>
              <span class="event__icons-caption">{{item.name}}</span>
            </span>
          </td>
        </tr>
      </table>
    </div>

  </ion-content>
</ion-view>
