<ion-view view-title="Guests">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="facilities">
      <table class="event__icons-table" ng-init="chunks = event.guests.chunkify(5)">
        <tr class="event__icons-table-row" ng-repeat="chunk in chunks">
          <td class="event__icons-table-cell" ng-repeat="item in chunk">
            <span class="event__icons-item">
              <div class="event__icons-photo event__photo" style="background-image: url('{{item.photo}}')"></div>
              <span class="event__icons-caption">{{item.first_name}}</span>
            </span>
          </td>
        </tr>
      </table>
    </div>

  </ion-content>
</ion-view>
