<ion-view view-title="Welcome" hide-nav-bar="true">

  <ion-content>

    <div class="intro">

      <img class="intro__splash" ng-src="img/ui/signin-splash.svg">

      <div class="intro__text">
        Do you want to enjoy cool events around the world?
        Even host a special gastronomic party at
        <span class="m-nw">your place?</span>
        Then sign in <span class="m-nw">to get started!</span>
      </div>

      <div class="intro__links">
        <a href="#/app/signin" class="intro__links-item">Sign In</a>
      </div>

      <button class="intro__facebook">
        Sign in with Facebook
      </button>


    </div>

  </ion-content>
</ion-view>
