<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-light"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">

    <ion-content class="menu">

      <div class="menu__user">
        <div class="menu__user-photo" style="background-image: url('{{user.photo}}')"></div>
        <div class="menu__user-name">
          {{user.first_name}} {{user.last_name}}
          <i class="menu__user-verification"></i>
        </div>
        <div class="menu__user-period">{{user.with_us}}</div>
      </div>

      <hr class="menu__divider">

      <ul class="menu__list">
        <li class="menu__list-item"
          ng-repeat="item in menu"
          ng-class="{'m-active': item.active, 'm-updates': item.updates}">
          <a class="menu__list-link" href="{{item.url}}" ng-click="onMenuClick()">
            <i class="menu__list-icon {{item.icon}}"></i>
            {{item.title}}
            <span class="menu__list-counter" ng-if="item.counter">{{item.counter}}</span>
          </a>
        </li>
      </ul>

      <hr class="menu__divider">

      <div class="menu__mini-events" ng-init="user.getFood = false; user.giveFood = false;">

        <div class="menu__mini-events__choose" ng-if="!user.getFood && !user.giveFood">
          <div class="menu__mini-events__title">Time to choose</div>
          <button class="menu__mini-events__button menu__mini-events__button_get" ng-click="user.getFood = true; resetEventCounter()">
            Get Food
          </button>
          <div class="menu__mini-events__comment">
            If you're hungry and want to get food soon and nearby
          </div>
          <hr class="menu__mini-events__divider">
          <button class="menu__mini-events__button menu__mini-events__button_give" ng-click="user.giveFood = true; resetEventCounter()">
            Give Food
          </button>
          <div class="menu__mini-events__comment">
            If you're going to have some food soon and want to share it with people
          </div>
        </div>

        <div class="menu__mini-events__get" ng-if="user.getFood">
          <div class="menu__mini-events__title">Get Food</div>
          <div class="menu__mini-events__comment">
            If you're hungry and want to get food soon and nearby
          </div>
          <div class="menu__mini-events__countdown">
            {{eventCounter | date:'mm:ss'}}
            <div>
              <span class="menu__mini-events__countdown-caption-item">min</span>
              <span class="menu__mini-events__countdown-caption-item">sec</span>
            </div>
          </div>
          <hr class="menu__mini-events__divider">
          <button class="menu__mini-events__button menu__mini-events__button_get" ng-click="user.getFood = false;">
            Reset
          </button>
        </div>

        <div class="menu__mini-events__give" ng-if="user.giveFood">
          <div class="menu__mini-events__title">Give Food</div>
          <div class="menu__mini-events__comment">
            If you're going to have some food soon and want to share it with people
          </div>
          <div class="menu__mini-events__countdown">
            {{eventCounter | date:'mm:ss'}}
            <div>
              <span class="menu__mini-events__countdown-caption-item">min</span>
              <span class="menu__mini-events__countdown-caption-item">sec</span>
            </div>
          </div>
          <hr class="menu__mini-events__divider">
          <button class="menu__mini-events__button menu__mini-events__button_give" ng-click="user.giveFood = false">
            Reset
          </button>
        </div>


      </div>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
