<ion-modal-view>

  <div class="search__bg"></div>

  <ion-header-bar class="bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="query">
    </label>
    <button class="button button-clear" ng-click="modal.hide()">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="search__content">

    <ul class="search__suggests" ng-if="query">
      <li class="search__suggests-item" ng-repeat="result in results | filter: query">
        <a class="search__suggests-inner" href="#/app/events/location/{{result.id}}" ng-click="modal.hide()">
          {{result.city}}, {{result.country}}
        </a>
      </li>
    </ul>

  </ion-content>

</ion-modal-view>
